/* write your styles here */

footer {
    font-size: 12px;
    background-color: #212121;
    color: white;
    text-align: center;
    margin: 0;
}

footer>div {
    padding: 30px 0px;
    word-spacing: 3px;
}

footer:hover .fas {
    color: red;
    transition: 2s;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/floral.png);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    margin: 0;
}

section {
    padding: 30px 0px;
}

/* marquee */

.marquee {
    background-color: #ed484c;
    color: white;
    line-height: 20px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.marquee p {
    margin: 0;
    padding: 5px 0px;
    color: white;
    padding-left: 50%;
    font-size: 12px;
    font-weight: bold;
    animation: marquee 12s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

mark {
    font-weight: bold;
    font-size: 11px;
    padding: 0px 5px;
}


#header {
    background-color: #4c4c4c;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
    position: sticky;
    top: 0;
}

#logo {
    width: 60px;
    height: 35px;
    margin-left: 20px;
}

 nav {
    text-decoration: none;
    color: #c0c0c0;
    margin: 0px 15px;
    font-size: 12px;
    font-weight: bold; 
} 

ul{
    display: flex;
    justify-content: flex-end;
    margin: 30px;

}
li{
    list-style: none;
    margin: 10px;
}

#about {
    background-color: rgba(234, 38, 58, 0.47);
    padding: 20px 0px;
    text-align: center;

}

#about h1 {
    font-size: 40px;
    border-bottom: 1px solid black;
    margin: auto;
    padding: 33px 0px;
    max-width: 45%;
    font-family: 'Josefin Sans';
}



#about .b {
    font-size: 4em;
}

#about p {
    margin: auto;
    max-width: 45%;
    text-align: center;
    padding: 15px 0px;
    font-weight: 500;
    line-height: 1.4;
    border-bottom: 1px solid black;
}

button {
    margin: 10px 0px;
    background-color: black;
    font-size: 30px;
    color: #f18d97;
    padding: 15px 53px;
    font-family: 'Montserrat';
    border: none
}
#services {
    background-color: rgba(171, 163, 147, 0.23);
    text-align: center;
    padding: 30px 0px;
}

.our-services {
    display: flex;
    margin-top: 30px;
}

#services {
    text-align: center;
}

h4 {
    font-weight: bold;
    margin: 15px 0px;
}

#services .fab {
    font-size: 80px;
}

#services .fab:hover {
    color: #ed484c;
    transition: color 2s;
}

figcaption {
    text-align: center;
    font-size: 12px;
    width: 70%;
    margin: auto;
}



#portfolio {
    text-align: center;
    padding: 30px 0px;
    background-color: rgba(148, 107, 36, 0.35);
}

#portfolio>h2 {
    border-bottom: 1px solid black;
    max-width: 45%;
    padding-bottom: 30px;
    margin: auto;
}

#portfolio>p {
    border-bottom: 1px solid black;
    margin: auto;
    text-align: center;
    padding: 15px 0px;
    line-height: 1.4;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: auto;
    margin-top: 10px;
}

#container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#container>div {
    flex: 1 1 200px;
    margin: 20px 20px;
    height: 150px;
}

.portfolio-img {
    position: relative;
}

.content {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    color: white;
}

h5 {
    margin: 0px 0px 10px 0px;
}

.content i {
    font-size: 15px;
    border: 0.5px solid white;
    border-radius: 20px;
    padding: 10px;
}

.content i:hover {
    color: red;
    background-color: white;
    transition: 1s;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:  100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.85);
}

.portfolio-img:hover .overlay {
    opacity: 1;
    border-radius: 5px;
}


#contact-us {
    background-color: rgba(95, 140, 138, 0.42);
    text-align: center;
    padding-bottom: 20px;
}

#contact-us h2 {
    margin-bottom: 10px;
}

#contact-us .fab {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px 8px;
    margin: 20px 5px;
}

#contact-us i:last-child {
    padding: 10px 10px;
}

#contact-us i:hover {
    background-color: #212121;
    color: #fcdea6;
    transition: 1s;
}
